MONGO_URI=mongodb://admin_db_user:Ww3zckciuHsKhbyH@ac-brkx4na-shard-00-00.yosoc44.mongodb.net:27017,ac-brkx4na-shard-00-01.yosoc44.mongodb.net:27017,ac-brkx4na-shard-00-02.yosoc44.mongodb.net:27017/?ssl=true&replicaSet=atlas-t7q7k7-shard-0&authSource=admin&appName=Cluster0
 
PORT=5000
 
JWT_SECRET=4vPba7ETtbMofRRVN3ilWWY9G8uOksxLTHQaQwZKU4H
 
CLOUDINARY_CLOUD_NAME=drdguvozs
 
CLOUDINARY_API_KEY=367267312899482
 
CLOUDINARY_API_SECRET=4yRSzafMbbsugsXxLNI5v9nH5FY
 
NODE_ENV = development
 
EMAIL_PASS=xzhdmyrpzzazhubh
 
EMAIL_USER=deepak@neosoftix.com
 
FRONTEND_URL=http://localhost:5173
 
TWILIO_ACCOUNT_SID=AC4a44a0d628f94e676767898f1eca3a64
TWILIO_AUTH_TOKEN=8635c3c5775411050fef9c7edb5f9c22
TWILIO_VERIFY_SERVICE_SID=VA3f08ae265d20a7652e641f43639ae921
STRIPE_SECRET_KEY=sk_test_51Tp1UxPMYlVkoKaBlvclVB4jLbsywiC9uTgrnOM5mmtOGXRu2U5HZm9aWlnQM3M1WyBazfUCPi44lnGpsGLSo2ra00mdWKSuH3