@import "tailwindcss";

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

/* hero slider css */

@keyframes ingredientFloat {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-25px) rotate(10deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes ingredientDrop {
  0% {
    transform: translateY(-500px) scale(0.3);
    opacity: 0;
  }

  70% {
    transform: translateY(20px) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes plateEnterTilt {
  0% {
    transform: rotate(15deg) scale(0.9);
  }

  100% {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes plateExitTilt {
  0% {
    transform: rotate(0deg) scale(1);
  }

  100% {
    transform: rotate(-15deg) scale(0.9);
  }
}

/* Hide scrollbar utility class */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}